:root{
    background-image: url(../img/bg.webp);
    --img-size: 10em;
    --bg-width: 15em;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
    border: solid white 4px;
    border-radius: 50%;
    width: var(--img-size);
    height: var(--img-size);
    overflow: hidden;
    margin-left: 2em;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.card--white{
    width: var(--bg-width);
    background-color: white;
    padding-top: 5em;
    padding-bottom: .5em;
    margin-top: -5em;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.card__img{
    display: block;
    height: auto;
    width: var(--img-size);
}

.card__img--heading--move{
    margin-left: 1em;
    padding-bottom: 0.5;
}

.card__img--heading{
    display: inline-block;
    border-bottom: solid black 1px;
    padding-right: 3.5em;
    margin-top: 0.5em;
    font-size: 18px;
}

.card__img--des{
    margin-top: .2em;
    padding-left: 1.5em;
}



.card__img--des--brown{
    color:brown
}